<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
  <style type="text/css">#outlook a { padding: 0; }
  .ReadMsgBody { width: 100%; }
  .ExternalClass { width: 100%; }
  .ExternalClass * { line-height:100%; }
  body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
  table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
  img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
  p { display: block; margin: 13px 0; }
  </style>
  <!--[if !mso]><!-->
  <style type="text/css">@media only screen and (max-width:480px) {
    @-ms-viewport { width:320px; }
    @viewport { width:320px; }
  }
  </style>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css" /><!--<![endif]-->
  <style type="text/css">@media only screen and (min-width:480px) {
    .mj-column-per-100, * [aria-labelledby="mj-column-per-100"] { width:100%!important; }
.mj-column-per-50, * [aria-labelledby="mj-column-per-50"] { width:50%!important; }
  }
  </style>
</head>
<body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">

  <div>


<div style="margin:0 auto;max-width:600px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-size: 0px;width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
  <tbody>
    <tr>
      <td style="text-align: center;vertical-align: top;font-size: 0px;padding: 20px 0px;padding-bottom: 5px;padding-top: 5px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
      <div aria-labelledby="mj-column-per-100" class="mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;">
      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" width="100%">
        <tbody>
          <tr>
            <td style="word-break: break-word;font-size: 0px;padding: 10px 25px;padding-top: 20px;text-align: left;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
            <div style="cursor:auto;color:#525252;font-family:HelveticaNeue;font-size:20px;font-weight:400;line-height:22px;">Looks like you forgot your password. Click <a href="https://getwashapp.in/home?resetPassword=true&token=<%= @token %>&email=<%= @email %>" target="_blank">here</a> to create a new one:

            </td>
          </tr>
        </tbody>
      </table>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div style="margin:0 auto;max-width:600px;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-size: 0px;width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
  <tbody>
    <tr>
      <td style="text-align: center;vertical-align: top;font-size: 0px;padding: 20px 0px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
      <div aria-labelledby="mj-column-per-100" class="mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;">
      <table border="0" cellpadding="0" cellspacing="0" style="background: #39373a;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" width="100%">
        <tbody>
          <tr>
            <td style="word-break: break-word;font-size: 0px;padding: 10px 25px;text-align: center;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
            <div style="cursor:auto;color:#FFCC00;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;">Call Us: +91 9494 66 5000</div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" /></html>
