<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fb_id %>
    <%= form.text_field :fb_id, id: :user_fb_id %>
  </div>

  <div class="field">
    <%= form.label :fb_name %>
    <%= form.text_field :fb_name, id: :user_fb_name %>
  </div>

  <div class="field">
    <%= form.label :fb_email %>
    <%= form.text_field :fb_email, id: :user_fb_email %>
  </div>

  <div class="field">
    <%= form.label :goo_id %>
    <%= form.text_field :goo_id, id: :user_goo_id %>
  </div>

  <div class="field">
    <%= form.label :goo_name %>
    <%= form.text_field :goo_name, id: :user_goo_name %>
  </div>

  <div class="field">
    <%= form.label :goo_email %>
    <%= form.text_field :goo_email, id: :user_goo_email %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :user_mobile %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :reset_password_token %>
    <%= form.text_field :reset_password_token, id: :user_reset_password_token %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :user_active %>
  </div>

  <div class="field">
    <%= form.label :session_token %>
    <%= form.text_field :session_token, id: :user_session_token %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
