<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Fb</th>
      <th>Fb name</th>
      <th>Fb email</th>
      <th>Goo</th>
      <th>Goo name</th>
      <th>Goo email</th>
      <th>Mobile</th>
      <th>Password digest</th>
      <th>Reset password token</th>
      <th>Active</th>
      <th>Session token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fb_id %></td>
        <td><%= user.fb_name %></td>
        <td><%= user.fb_email %></td>
        <td><%= user.goo_id %></td>
        <td><%= user.goo_name %></td>
        <td><%= user.goo_email %></td>
        <td><%= user.mobile %></td>
        <td><%= user.password_digest %></td>
        <td><%= user.reset_password_token %></td>
        <td><%= user.active %></td>
        <td><%= user.session_token %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
