<p id="notice"><%= notice %></p>

<p>
  <strong>Fb:</strong>
  <%= @user.fb_id %>
</p>

<p>
  <strong>Fb name:</strong>
  <%= @user.fb_name %>
</p>

<p>
  <strong>Fb email:</strong>
  <%= @user.fb_email %>
</p>

<p>
  <strong>Goo:</strong>
  <%= @user.goo_id %>
</p>

<p>
  <strong>Goo name:</strong>
  <%= @user.goo_name %>
</p>

<p>
  <strong>Goo email:</strong>
  <%= @user.goo_email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Reset password token:</strong>
  <%= @user.reset_password_token %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Session token:</strong>
  <%= @user.session_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
